<h1 class="subheader">Welcome, intrepid blogger-person!  Please tell us things:</h1>

<%= form_for @user do |f| %>
<%=f.label "Pick a username" %>
<%=f.text_field :username %><br>
<%=f.label "Password" %>
<%=f.password_field :password %><br>
<%=f.label "Email" %>
<%=f.text_field :email %><br>
<%=f.label "First Name" %>
<%=f.text_field :firstname %><br>
<%=f.label "Last Name" %>
<%=f.text_field :lastname %><br>
<%=f.label "Age" %>
<%=f.number_field :age %><br>
<%=f.submit %>
<% end %>