
<hr>
<div class="username"><%= @user.username %></div>

Name: <%= @user.firstname %> <%= @user.lastname %><br>
Email: <%= @user.email %><br>
Age: <%= @user.age %><br>

<hr>

<%= link_to "Return to Users List", users_path %>

