<%= link_to "Click Here to Bloggy Blog", new_post_path %><br>
<%= link_to "Click Here to See the Users List", users_path %><br>

<h1 class="subheader">Here's what's happening on Snoop Bloggy Blog:</h1>

<% @posts.each do |post| %>

	<h1 class="post-title"><%= link_to post.title, post_path(post), :style=>'text-decoration: none; color: red' %></h1>
	<%= post.body %><br>
	By  
		<% if post.user %>
			<span class="signature"><%= link_to post.user.username, user_path(post.user), :style=>'text-decoration: none; color: blue' %></span><br>
		<% else %>
			<span class="signature">User Deleted</span><br>
		<% end %>
		<span class="post-date">Posted: <%= post.created_at %></span><br><br>
	<hr>

<% end %>