<!DOCTYPE html>
<html>
<head>
  <title>Snoop Bloggy Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!-- ^ this line is giving an error with the .coffee script files: SyntaxError: [stdin]:3:19: reserved word 'function' -->
  <%= csrf_meta_tags %>
</head>
<body>

<% if logged_in? %>
  <h3>You're signed in as <span class="signature"><%= link_to @current_user.username, user_path(@current_user), :style=>'text-decoration: none; color: blue' %></span></h3>
	<%= link_to "Sign Out", logout_path, method: :delete %>
<% else %>
	Sign In:
	<%= form_for :session, url: login_path do |f| %>
	<%=f.label "Username" %>
	<%=f.text_field :username %><br>
	<%=f.label "Password" %>
	<%=f.password_field :password %><br>
	<%=f.submit "Sign In" %>
	<% end %><br>
	<%= link_to "Click Here to Sign Up", new_user_path %><br>
<% end %>

<div class="banner-box">
	<h1 class="banner"><a href="/posts">Snoop Bloggy Blog</a></h1>
</div>

<%= yield %>

</body>
</html>
